grhgdf*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    background-color: #B5BFC8;
    color: #333333;
    font-family: 'Roboto', 'sans-serif';
}
header{
    position: sticky;
    top: 0;
    z-index: 1000;

}
nav {
    background-color: #de700e;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5%;
}
nav ul {
    list-style: none;
    margin: 0;
    display: flex;
    align-items: center;
}
nav ul li {
    margin: 0 50px;
}
nav ul li a {
    font-size: 24px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: capitalize;
    color: #ffff;
    background-color: #37434f;
}
li a{
    color: #ffff;
    background-color: #37434f;
}
li a:hover{
    background-color: #000000;
    transition: 1.5s;
}
body{
    background-color: #B5BFC8;
}
.titulo{
    padding: 1rem 2rem;
    font-weight: bolder;
    font-size: 25px;
    text-align: center;
}
.boxS{
    padding: 2rem 2rem;
    font-size: 25px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}
.boxT{
    display: grid;
    place-items: center;
    margin: 2rem auto;
    justify-content: center;
    align-items: center;

}
table{
    background-color: transparent;
    width: 98%;
    font-size: 25px;
    text-align: center;
}
table, td{
    font-family: Roboto, serif;
    border: 5px solid #de700e;
    border-collapse: collapse;
    height: 30px;
    padding: 7px;
}
td img{
    width: 50%;
    height: auto;
    background-color: transparent;
}
.bug:hover{
    box-shadow: 0px 0px 55px 5px rgb(0 0 0 /24%);
    transition: 1s;
}
.feedback:hover{
    box-shadow: 0px 0px 55px 5px rgb(0 0 0 /24%);
    transition: 1s;
}
.support:hover{
    box-shadow: 0px 0px 55px 5px rgb(0 0 0 /24%);
    transition: 1s;
}
.contentContacto h2{
    color:#ffffff;
}
.contentContacto p{
    text-align: center;
    font-size: 16px;
    color: #ffffff;
}

.footer-container{
    background-color: #D67300;
    text-align: center;
}


/*Contacto*/
.contacto{
    padding: 3rem 0;
    background: #80838a;
}
.contenedor,
.wave.contenedor{
    width: 80%;
    max-width: 1000px;
    overflow: hidden;
    margin: auto;
    padding: 0 0 80px 0;
}
.contenedor{
    padding: 80px 0;
}
.containerC{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(18rem,1fr));
    grid-gap: 2rem;
}
.boxC{
    overflow: hidden;
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contentContacto{
    padding: 2rem 2rem;
}
.contentContacto h2{
    font-size: 40px;
    padding: 1rem;
    text-align: center;
}
.contentContacto p{
    padding: 1rem;
    text-align: left;
}
.form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.input{
    background-color: #616267;
    border: 0;
    color: #ffffff;
    outline: none;
    padding: 20px 10px;
    border-radius: 5px;
}
.input::placeholder{
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
}
input[type="text"],
input[type="email"]{
    display: inline-block;
    width: 49%;
    margin-bottom: 15px;
}
.form textarea{
    height: 150px;
    width: 100%;
    margin-bottom: 15px;
}
input[type="submit"]{
    width: 120px;
    text-align: center;
    padding: 14px 0;
    background-color: #DF6429;
    cursor: pointer;
}
input[type="submit"]:hover{
    background-color: #d98157;
}
/*FOOTER*/
footer{
    background-color: #de700e;
    color: #ffff;
    font-family: 'Open Sans',"sans-serif";
    padding: 20px;
    margin-top: 50px;
    text-align: center;
}
 
