*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
header{
    position: sticky;
    top: 0;
    z-index: 1000;
}
nav{
    background-color: #de700e;
    height: 80px;
    width: 100%;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: #ffff;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: capitalize;
}
body{
    background-color: #4c5d6d;
    font-family: "Roboto Thin", serif;
    color: #333333;
}
h1{
    color:#333333;
    margin: 0 auto;

}
